<html>
    <head>

    </head>

    <body>

        Select a Session configuration:

        <form action="/sessions" method="post">
            {% for vocab, charsets in config.items() %}
                {% for charset in charsets %}

            <input type="radio" name="vocabAndCharset" value="{{ vocab|e }}/{{ charset|e}}" checked>{{ vocab|e }}: {{ charset|e}} <br>
                {% endfor %}
            {% endfor %}

            <a>How many characters should be trained in this session: </a>
            <input name="vocableNumber" type="number" value="20" min="5" max="150" />

            <input type="submit">
        </form>
    </body>
</html>